<div class='headerContainer'>
  <div class='headerSubContainer'>
    <div>
      <span class="icon tape"></span>
      <button class="button">Коллекция</button>
    </div>
    <div>
      <span class="icon plus"></span>
      <button>Добавить</button>
    </div>
  </div>
  <img src="../../../assets/logo.png" alt="Логотип"/>
  <div class="headerSubContainer">
    <div>
      <span class="icon magnifier"></span>
      <button>Поиск</button>
    </div>
    <img src="../../../assets/avatar.png" alt="Аватар">
  </div>
</div>
