<div class='headerContainer'>
  <div class='headerSubContainer'>
    <div class="ButtonWithIcon">
      <span class="icon tape"></span>
      <button class="button">Коллекция</button>
    </div>
    <div class="addButton">
      <span></span>
      <button>Добавить</button>
    </div>
  </div>
  <div class="logo">
    <img class='avatar' src="../../../assets/logo.png" alt="Логотип"/>
  </div>
  <div class="headerSubContainer">
    <div class="ButtonWithIcon">
      <span class="magnifierIcon"></span>
      <input type="search" placeholder="Поиск">
<!--      <button>Поиск</button>-->
    </div>
    <div class="avatar">
      <img src="../../../assets/avatar.png" alt="Аватар">
    </div>

  </div>
</div>
