<div class="header__wrapper">
  <div class="header">
    <nav>
      <a class="link">
        <img src="/assets/icons/tape.svg" alt="Иконка" />
        Коллекция
      </a>

      <a class="link">
        <img src="/assets/icons/plus.svg" alt="Иконка" />
        Добавить
      </a>
    </nav>

    <a class="logo">
      <img src="/assets/icons/logo.png" alt="Логотип" />
    </a>

    <div class="actions">
      <app-button>
        <img src="/assets/icons/search.svg" alt="Иконка" />
        Поиск
      </app-button>
      <img class="avatar" src="/assets/avatar.png" alt="Аватар" />
    </div>
  </div>
</div>
