<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="newFilmName">Название</label>
  <input id="newFilmName" type="text" placeholder="titanic" formControlName="name" />
  <label for="newFilmYear">Год</label>
  <input id="newFilmYear" type="text" formControlName="year" />
  <label for="newFilmSynopsis">Описание</label>
  <input id="newFilmSynopsis" type="text" formControlName="synopsis" />
  <label for="newFilmGenre">Жанр</label>
  <input id="newFilmGenre" type="text" formControlName="genre" />
  <label for="newFilmPoster">Постер</label>
  <input id="newFilmPoster" type="image" formControlName="poster" />
  <button type="submit">Сохранить</button>
</form>
