\:host
  width: 30vw
  max-width: 425px

.additionForm
  display: flex
  flex-direction: column

  label
    font-family: SF-Pro, sans-serif
    font-size: 22px
    font-weight: bold

  input, textarea
    font-family: SF-Pro, sans-serif
    font-weight: normal
    font-size: 17px
    border-top: none
    border-left: none
    border-right: none
    border-bottom-color: lightgray
    padding: 18px 0

    &:focus
      outline:  none
      caret-color: #002DFF

  textarea
    resize: vertical

