<form class='additionForm' [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="newFilmName">Название</label>
  <input
    id="newFilmName"
    type="text"
    placeholder="Например, Титаник"
    formControlName="name"
  />
  <label for="newFilmYear">Год</label>
  <input
    id="newFilmYear"
    type="text"
    placeholder="Укажите год выхода фильма"
    formControlName="year"
  />
  <label for="newFilmSynopsis">Описание</label>
  <textarea
    id="newFilmSynopsis"
    placeholder="Напишите пару слов о сюжете"
    formControlName="synopsis"
  >
  </textarea>
  <label for="newFilmGenre">Жанр</label>
  <select
    id="newFilmGenre"
    formControlName="genre"
  >
    <option value="" disabled selected hidden>Select your option</option>
    <option >Триллер</option>
    <option>Фэнтези</option>
    <option>Фантастика</option>
  </select>
<!--  <input-->
<!--    id="newFilmGenre"-->
<!--    type="text"-->
<!--    placeholder="Выберите из списка"-->
<!--    formControlName="genre"-->
<!--  />-->
  <label for="newFilmPoster">Постер</label>
  <input
    id="newFilmPoster"
    type="image"
    formControlName="poster"
  />
  <div class="buttonPlus">
    <span></span>
    <button type="submit">Сохранить</button>
  </div>

</form>
