<div class="search">
  <label for="film">Название</label>
  <input
    id="film"
    [(ngModel)]="filmToSearch"
    (search)="lookForFilm()"
    [incremental]="filmToSearch"
    (keyup.enter)="tryToChooseFilm()"
    type="search"
    placeholder="Например, Титаник"
  />
</div>
<ul class="films">
  <li *ngFor="let film of filmsSuggested" class="badge">
    <img alt="Постер фильма" src="{{film.imageAddress}}" />
    <ul>
      <li>
        <button type="button" (click)="chooseFilm(film)">{{film.name}}</button>
      </li>
      <li class="badgeYear">{{film.year}}</li>
    </ul>
  </li>
</ul>
