\:host
  width: 30vw
  max-width: 441px

.search
  display: flex
  flex-direction: column

  label
    font-family: SF-Pro, sans-serif
    font-size: 22px
    font-weight: bold

  input
    font-family: SF-Pro, sans-serif
    font-weight: normal
    font-size: 17px
    border-top: none
    border-left: none
    border-right: none
    border-bottom-color: lightgray
    padding: 18px 0

    &:focus
      outline:  none
      caret-color: #002DFF

.films
  display: flex
  flex-direction: column
  row-gap: 20px

.badge
  font-family: 'San Francisco', serif
  display: flex
  column-gap: 18px
