\:host
  width: 30vw
  max-width: 441px

.search
  display: flex
  flex-direction: column

.films
  display: flex
  flex-direction: column
  row-gap: 20px

.badge
  display: flex
  column-gap: 18px

  button
    border: none
    background-color: transparent
    padding: 0
    cursor: pointer

  &Year, .addManuallyButton
    font-family: SF-Pro, sans-serif
    font-weight: 400
    font-size: 12px
    margin-top: 8px

  .posterNotFound
    width: 63px
    height: 81px
    background-color: #0000000A

  .filmNotFound, button
    font-family: SF-Pro, sans-serif
    font-weight: 400
    font-size: 17px

  .addManuallyButton
    color: #002DFF
