@font-face
  font-family: 'SF-Pro'
  font-weight: 500
  src: url('assets/fonts/SF-Pro-Display-Medium.otf') format('opentype')

@font-face
  font-family: 'SF-Pro'
  font-weight: bold
  src: url('assets/fonts/SF-Pro-Display-Bold.otf') format('opentype')

@font-face
  font-family: 'SF-Pro'
  font-weight: normal
  src: url('assets/fonts/SF-Pro-Display-Regular.otf') format('opentype')

@font-face
  font-family: 'SF-Pro'
  font-weight: 600
  src: url('assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype')

h1
  font-size: 36px

ul
  list-style-type: none
  padding-left: 0

label
  font-family: SF-Pro, sans-serif
  font-size: 22px
  font-weight: bold

input, textarea
  font-family: SF-Pro, sans-serif
  font-weight: normal
  font-size: 17px
  border-top: none
  border-left: none
  border-right: none
  border-bottom-color: lightgray
  padding: 18px 0

  &:focus
    outline:  none
    caret-color: #002DFF

  &::placeholder
    color: #3C3C434D

textarea
  resize: vertical
  border-width: 2px
